#token-hud .osa-hud.osa-graviton i { color: #8a5cff; text-shadow: 0 0 6px #7000d6; }
#token-hud .osa-hud.osa-photon i { color: #ffcf4a; text-shadow: 0 0 6px #ff9d00; }
#token-hud .osa-hud.osa-unattuned i { opacity: 0.6; }
